.header{
  width: 100%;
  height: 15vh;
  background-color: blue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: thin black solid;
  color: aliceblue;
}

.header-nav{
  display: flex;
  gap: 1rem;
}

li{
  cursor: pointer;
  list-style: none;
}
